#output {
	font-size: 20pt;
}

span.nucleotide {
	font-weight: medium;
	font-family: monospace;

	display: inline-block;
	text-align: center;
	height: 1em;
	width: 1em;
	padding-bottom: 0.2em;
}

span.nucleotide.A {
	background-color: #faa;
}

span.nucleotide.C {
	background-color: #aaf;
}

span.nucleotide.G {
	background-color: #afa;
}

span.nucleotide.T {
	background-color: #ffa;
}
