#output {
	font-size: 20pt;
}

span.nucleotide {
	font-weight: medium;
	font-family: monospace;

	display: inline-block;
	text-align: center;
	height: 1em;
	width: 1em;
	padding-bottom: 0.2em;

	&.A {
		background-color: #faa;
	}
	&.C {
		background-color: #aaf;
	}
	&.G {
		background-color: #afa;
	}
	&.T {
		background-color: #ffa;
	}
}
